.theme_option_notice-wrap { background:#067789; font-size:24px; font-weight:bold;
background-color: #E7E6E6;
  border: 1px solid #D0D0D0;
  color: #9D9D9D;
  overflow: hidden;
  text-transform:uppercase
}
.format-setting-wrap {padding: 10px 0 15px 0 !important;}
.theme_option_notice-wrap .description { padding-left:20px !important;}
.wrap.settings-wrap .ui-tabs-nav { width:250px !important;}
#option-tree-settings-api > .ui-tabs{
	-webkit-box-shadow: inset 246px 0 0 #f1f1f1, inset 247px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05) !important;
	-moz-box-shadow: inset 246px 0 0 #f1f1f1, inset 247px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05) !important;
	box-shadow: inset 246px 0 0 #f1f1f1, inset 247px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05) !important;
	-webkit-border-radius: 0 0 2px 2px !important;
	-moz-border-radius: 0 0 2px 2px !important;
	border-radius: 0 0 2px 2px !important;
	
	}
	
.wrap.settings-wrap .ui-tabs-nav li a { font-size:14px !important; padding-top:10px !important; padding-bottom:10px !important; padding-left:15px !important;

}	

.wrap.settings-wrap .ui-tabs-nav li a:hover, .wrap.settings-wrap .ui-tabs-nav li.ui-state-active a {
background: rgba(209,207,209,1) !important;
background: -moz-linear-gradient(-45deg, rgba(209,207,209,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%)  !important;
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(209,207,209,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)))  !important;
background: -webkit-linear-gradient(-45deg, rgba(209,207,209,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%)  !important;
background: -o-linear-gradient(-45deg, rgba(209,207,209,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%)  !important;
background: -ms-linear-gradient(-45deg, rgba(209,207,209,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%)  !important;
background: linear-gradient(135deg, rgba(209,207,209,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%)  !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1cfd1', endColorstr='#ffffff', GradientType=1 )  !important;	
	
	}
	
	.select-wrapper span { font-family: FontAwesome;}
	/*#setting_menu_background_color{ display:none;}*/
	
	#toplevel_page_ot-settings{ display:none !important;}
	#setting_import_xml_text, #setting_import_settings_text, #setting_import_layouts_text, #setting_export_settings_file_text, #setting_export_settings_text, #setting_export_layout_text, #setting_export_data_text .description {
  display: none !important;
}
.siteorigin-widget-preview-button.button-secondary{display:none !important;}
/*.option-tree-google-font-variants, .option-tree-google-font-subsets, .js-add-google-font, .js-remove-google-font{ display:none !important}*/


table.plugins #optiontree .deactivate, table.plugins #woocommerce .deactivate{ display:none;}